<html>
<head>
  <title>Player</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: black;
    }
  </style>
</head>

<body>

<!-- Import Mediaelement CSS -->
<link href="https://cdn.jsdelivr.net/npm/mediaelement@latest/build/mediaelementplayer.min.css" rel="stylesheet">
<!-- Import Mediaelement JS -->
<script src="https://cdn.jsdelivr.net/npm/mediaelement@latest/build/mediaelement-and-player.min.js"></script>

<div class="player">
  <video id="player-demo" width="100%" height="100%" preload="none" style="max-width: 100%" controls="" autoplay>
    <source th:src="@{${url}}">
    <!-- Just add multiple <track> files, they get integrated automatically -->
    <track src="dist/mediaelement.vtt" srclang="en" label="English" kind="captions" type="text/vtt">
    <track src="dist/mediaelement_german.vtt" srclang="de" label="Deutsch" kind="subtitles" type="text/vtt">
  </video>
</div>

<script>
  // You can use either a string for the player ID (i.e., `player`),
  // or `document.querySelector()` for any selector
  const playerCaptions = new MediaElementPlayer('player', {
    iconSprite: '/images/mejs-controls.svg', // path to svg-spritemap for all icons
  });
</script>

</body>
</html>
